.nav-link-hover {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  transition: width 0.3s ease;
}

.nav-link-hover:hover::after {
  width: 100%;
}
