/* .product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.product-img {
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.product-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #28a745;
} */

/* .product-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-item img {
  height: 220px;
  object-fit: cover;
}

.btn-outline-success {
  border-color: #198754 !important;
  color: #198754 !important;
}

.btn-outline-success:hover,
.btn-success.active {
  background-color: #198754 !important;
  color: #fff !important;
} */
